<section class="articles-settings-description">
    <div class="container">
      <div class="row">
        <div *ngIf="totalItems > itemsPerPage" class="col-12 pt-3 pb-3 d-flex justify-content-end">
          <!-- Pagination -->
          <app-pagination (pageChangeEvent)="getPage(p = $event)" ></app-pagination>
        </div>
      </div>
    </div>
</section>

<!-- Articles -->
<app-articles 
  [articles]="articles" 
  [category]="category" 
  [p]="p" 
  [totalItems]="totalItems" 
  [itemsPerPage]="itemsPerPage">
</app-articles>

