<section class="articles-settings-description">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div *ngIf="totalItems > itemsPerPage" class="col">
          <!-- Pagination -->
          <app-pagination (pageChangeEvent)="getPage(p = $event)" ></app-pagination>
        </div>
      </div>
    </div>
</section>

<!-- Articles -->
<app-articles
 [articles]="articles" 
 [category]="category"
 [pageNumber]="pageNumber" 
 [totalItems]="totalItems" 
 [itemsPerPage]="itemsPerPage">
</app-articles>
