<section class="articles-settings-description">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-12">
          <pagination-template *ngIf="totalItems > itemsPerPage" #pg="paginationApi" (pageChange)="getPage(p = $event)">
            <ul >
              <!-- Prev -->
              <li [class.disabled-page]="pg.isFirstPage()" style="margin-right: 10px">
                  <a *ngIf="!pg.isFirstPage()" (click)="pg.previous()" >
                      <span><svg class="bi" width="11" height="11" fill="currentColor"><use xlink:href="bootstrap-icons.svg#chevron-left"/></svg></span> 
                      Prev
                  </a>
              </li>
          
              <!-- Pages -->
              <li class="pages" *ngFor="let page of pg.pages">
                  <a (click)="pg.setCurrent(page.value)" [class.current-page]="pg.getCurrent() === page.value">{{ page.label }}</a>
              </li>
          
          
              <!-- Next -->
              <li style="margin-left: 10px">
                  <a *ngIf="!pg.isLastPage()" (click)="pg.next()">
                      Next 
                      <span><svg class="bi" width="11" height="11" fill="currentColor"><use xlink:href="bootstrap-icons.svg#chevron-right"/></svg></span>
                  </a>
              </li>
            </ul>
          </pagination-template>
        </div>
      </div>
    </div>
</section>


<app-articles
 [articles]="articles" 
 [category]="category"
 [p]="p" 
 [totalItems]="totalItems" 
 [itemsPerPage]="itemsPerPage">
</app-articles>
