@import "../../variables";

#category-settings {
    font-family: $defaultFont;
    font-weight: 600;
    font-size: 14px;
    color: var(--fgPrimaryColor);
    margin: 0 7px !important;
}

#country-flag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
