<section class="articles-settings-description">
    <div class="container">
      <div class="row g-0">
        <div class="col-12 col-sm-6 align-self-center pt-3 pb-3"> 
          <p id="category-settings">
            <span id="country-flag" [ngStyle]="{'background-image': 'url(https://newsapi.org/images/flags/'+countryCode+'.svg)'}"></span>
            Top Headlines
          </p> 
        </div>
        <div *ngIf="totalItems > itemsPerPage" class="col-12 col-sm-6 pt-3 pb-3 d-flex justify-content-sm-end">

          <!-- Pagination -->
          <app-pagination (pageChangeEvent)="getPage(p = $event)" ></app-pagination>

        </div>
      </div>
    </div>
</section>

<!-- Articles -->
<app-articles 
[articles]="articles" 
[category]="category"
[pageNumber]="pageNumber" 
[totalItems]="totalItems" 
[itemsPerPage]="itemsPerPage">
</app-articles>