
@import "../variables";

mat-sidenav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 1;
    font-family: $defaultFont;
    background: var(--background-color);
    border: none;
}

mat-sidenav-content {
    background: var(--background-color);
    display: flex;
    flex-flow: column;
    height: 100vh;
    padding: 0;
    flex-grow: 1;
    flex-basis: 0%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.router-section {
    flex: 1 1 auto;
}

.bi {
    color: var(--fg-primary-color);
}

.header {
    padding: 30px 0;
}

.greetings {
    #toggleBtn {
        margin-right: 10px;
        float: left;
        cursor: pointer;
        svg {
            color: var(--fg-primary-color);
        }
    }
    p {
        font-family: $defaultFont;
        font-size: 25px;
        font-weight: 700;
        color: var(--fg-primary-color);
        span {
            font-weight: 600;
            color: var(--fg-secondary-color);
        }
    }
}

.search {
    
    input {
        border: none;
        background: var(--backdrop-color);
        font-family: $defaultFont;
        font-size: 14px;
        font-weight: 600;
        color: var(--fg-primary-color);
        padding: 12px 25px 12px 15px;
        margin-right: -10px;
        width: 260px;
        border-radius: 5px;
    }
    input:focus {
        outline: none;
        background: var(--backdrop-color);
    }
    input::placeholder {
        font-family: $defaultFont;
        font-size: 14px;
        font-weight: 600;
        color: var(--fg-secondary-color);
    }
    input::-ms-input-placeholder {
        font-family: $defaultFont;
        font-size: 14px;
        font-weight: 600;
        color: var(--fg-secondary-color);
    }
    // override user-agent styles on input
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition-delay: 99999s;
    }
    button {
        border: none;
        background: var(--accent-color);
        padding: 10.5px 12px;
        width: 50px;
        border-radius: 5px;
    }
    button:focus {
        outline: none;
    }
    button img {
        width: 15px;
        height: 15px;
    }
    
}

