

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened>
    <div class="profile-image">
      <img src="assets/me.jpg" alt="">
    </div>
    <div class="date-and-time">
      <span class="sidenav-date">Feb 02, 2020</span>
      <span class="sidenav-time">08:43 am</span>
    </div>
    <!-- Change to categories instead :) -->
    <div class="categories">
      <a routerLink="/articles/general" routerLinkActive="active-category" class="category">
        <span><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="bootstrap-icons.svg#house"/></svg></span>
        Home
      </a>
      <a routerLink="/articles/business" routerLinkActive="active-category" class="category">
        <span><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="bootstrap-icons.svg#building"/></svg></span>
        Business
      </a>
      <a routerLink="/articles/entertainment" routerLinkActive="active-category" class="category">
        <span><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="bootstrap-icons.svg#play"/></svg></span>
        Enterntainment
      </a>
      <a routerLink="/articles/health" routerLinkActive="active-category" class="category">
        <span><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="bootstrap-icons.svg#heart"/></svg></span>
        Health
      </a>
      <a routerLink="/articles/science" routerLinkActive="active-category" class="category">
        <span><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="bootstrap-icons.svg#lightbulb"/></svg></span>
        Science
      </a>
      <a routerLink="/articles/sports" routerLinkActive="active-category" class="category">
        <span><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="bootstrap-icons.svg#trophy"/></svg></span>
        Sports
      </a>
      <a routerLink="/articles/technology" routerLinkActive="active-category" class="category">
        <span><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="bootstrap-icons.svg#cpu"/></svg></span>
        Technology
      </a>
    </div>

    <button id="more-settings" (click)="openDialog()">Settings</button>

  </mat-sidenav>

  <mat-sidenav-content>

    <section class="header">
      <div class="container">
        <div class="row d-flex flex-row justify-content-between align-items-center">
            <div class="col greetings">
              <button (click)="sidenav.toggle()"><svg class="bi" width="25" height="25" fill="currentColor"><use xlink:href="bootstrap-icons.svg#three-dots-vertical"/></svg></button>
              <p>
                Good Morning, <span>Rose</span>
              </p> 
            </div>
            <div class="col search">
              <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="d-flex flex-row justify-content-end align-items-center">
                <input type="text" name="search" ngModel required #search="ngModel" placeholder="Search for articles">
                <button type="submit"><img src="assets/search.png" alt=""></button>
              </form>
            </div>
        </div>
      </div>
    </section>
    
    
    <router-outlet></router-outlet>


  </mat-sidenav-content>

</mat-sidenav-container>



