@import "../../variables";

// Angular Material custom styles
.myapp-custom-colors .mat-dialog-container {
    background: var(--background-color);
}
.myapp-custom-colors .mat-tab-label {
    font-family: $defaultFont;
    font-weight: 600;
    color: var(--fg-primary-color);
}
.myapp-custom-colors .mat-tab-header-pagination-chevron {
    border-color: var(--fg-primary-color);
}

.myapp-custom-colors .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: var(--accent-color);
}




.dialog-information {
    font-family: $defaultFont;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dialog-notice > p {
    font-size: 16px;
    font-weight: 600;
    color: var(--fg-primary-color);
    padding: 5px;
}

.dialog-info-box {
    background: var(--accent-color);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    p {
        margin: 0;
        font-size: 14px;
        color: #FFFFFF;
    }
}

.dialog-content {
    background: var(--backdrop-color);
    .dialog-lists {
        .dialog-lists-image {
            height: 50px;
            width: 50px;
            margin-bottom: 15px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            margin: 5px auto;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}

.backdrop-theme-manager {
    padding: 10px;
    border-radius: 5px;
    background: var(--backdrop-color);
    margin-top: 20px;
}

.active-theme {
    border: 2px solid var(--accent-color);
}

.theme-toggle {
    font-family: $defaultFont;
    font-size: 17px;
    display: inline-block;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.theme-toggle-content {
    font-weight: 600;
    vertical-align: middle;
    span {
        display: inline-block;
        margin-right: 20px;
        padding: 7px 9px;
        border-radius: 50%;
        vertical-align: middle;
    }
}

#light-theme {
    background: $lightBackgroundColor;
    color: $lightThemePrimaryColor;
}
#light-theme:hover span {
    background: $lightThemeBackdropColor;
    transition: 0.5s;
}

#dark-theme {
    background: $darkBackgroundColor;
    color: $darkThemePrimaryColor;
}
#dark-theme:hover span {
    background: $darkThemeBackdropColor;
    transition: 0.5s;
}
