<mat-dialog-content>
    <mat-tab-group dynamicHeight>
        
        <mat-tab label="Sources">
            <div class="container">
                <div class="sources row">
                    <div class="source-notice col-md-6 col-lg-6 pt-4 pb-4">
                        <p>Pick your favourite news outlet articles like CNN, BBC and their top headlines to display.</p>
                        <div class="source-info-box row g-0">
                            <div class="col-1"><svg class="bi" width="18" height="18" fill="currentColor"><use xlink:href="bootstrap-icons.svg#info-circle"/></svg></div>
                            <div class="col-11"><p>Sources cannot mix with "country" and "category" for browsing articles.</p></div>
                        </div>
                    </div>
                    <div class="source-background-theme col-md-6 col-lg-6">
                        <div class="row g-0 pt-4 pb-4">
                            <div class="source col-md-2 col-lg-2" *ngFor="let source of sources">
                                <a routerLink="/articles/source/{{source.id}}" (click)="closeOnSourceClick()">
                                    <div class="source-image" 
                                    matTooltip="{{source.name | uppercase}}" 
                                    [ngStyle]="{'background-image': 'url(../../../../assets/source-images/'+ source.id +'.png)'}">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Countries"> Content 2 </mat-tab>
        <mat-tab label="Themes"> Content 3 </mat-tab>

    </mat-tab-group>
</mat-dialog-content>
