
.sidenav-flex {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-basis: 0%;
    height: 100vh;
    padding: 20px 20px 0px 20px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.profile-image {
    margin-top: 10px;
    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

.date-and-time {
    margin-top: 20px;
    line-height: 1.5;
    span {
        display: block;
    }
    .sidenav-date {
        font-weight: 700;
        font-size: 16px;
        color: var(--fgPrimaryColor);
    }
    .sidenav-time {
        font-size: 13px;
        font-weight: 600;
        color: var(--fgSecondaryColor);
    }
}

.categories {
    flex: 1 1 auto;
    margin-top: 40px;
}

.category {
    display: block;
    font-weight: 700;
    font-size: 15px;
    color: var(--fgSecondaryColor);
    width: 200px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    span {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 3px;
        background: var(--backdropColor);
        border-radius: 6px;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
        svg {
            display: inline-block;
            font-weight: bold;
            color: var(--fgSecondaryColor);
            margin: auto;
        }
    }
}

.active-category {
    color: var(--fgPrimaryColor);
    span {
        background: var(--accentColor);
        svg {
            color: #FFFFFF;
        }
    }
}

#more-settings {
    position: sticky;
    bottom: 0;
    background: var(--backgroundColor);
    padding-bottom: 20px;
    button {
        display: block;
        width: 100%;
        padding: 10px;
        background: var(--accentColor);
        font-weight: 600;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        border-radius: 6px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}