
$defaultFont: 'Nunito';

$lightBackgroundColor: #FFFFFF;
$lightThemePrimaryColor: #313237;
$lightThemeSecondaryColor: #788D9B;
$lightThemeBackdropColor: #EEEEF0;
$lightThemeBackgroundShadow: 0px 2px 63px -49px  #000000;

$darkBackgroundColor: #18191A;
$darkThemePrimaryColor: #F1F2F3;
$darkThemeSecondaryColor: #656C70;
$darkThemeBackdropColor: #242526;
$darkThemeBackgroundShadow: 0px 2px 63px -49px  #FFFFFF;
