
    $whiteThemeBg: #FFFF;

    $darkFont: #313237;
    $lightFont: #788D9B;
    $defaultFont: 'Nunito';
    
    $lightBg: #F2F4F8;
    $blueBg: #5A7AFF;
    $lightMat: #F4F7F9;

    // $infoColor: #CFE2FF;