/* You can add global styles to this file, and also import other style files */

:root {
    
    // LIGHT THEME (DEFAULT)
    --background-color: #FFFFFF;
    --fg-primary-color:  #313237;
    --fg-secondary-color: #788D9B;
    --backdrop-color:    #EEEEF0;

    --accent-color: #5A7AFF;
    --background-shadow: 0px 2px 63px -49px  #000000;

    // DARK THEME
    // --background-color: #18191A;
    // --fg-primary-color: #F1F2F3;
    // --fg-secondary-color: #656C70;
    // --backdrop-color: #242526;

    // --accent-color: #5A7AFF;
    // --background-shadow: 0px 2px 63px -49px  #FFFFFF;

}

html, body { height: 100%; background: var(--background-color) !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom Scrollbar 
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
