/* You can add global styles to this file, and also import other style files */

:root {
    
    // LIGHT THEME (DEFAULT)
    --backgroundColor: #FFFFFF;
    --fgPrimaryColor:  #313237;
    --fgSecondaryColor: #788D9B;
    --backdropColor:    #EEEEF0;

    --accentColor: #5A7AFF;
    --backgroundShadow: 0px 2px 63px -49px  #000000;

    // DARK THEME
    // --backgroundColor: #18191A;
    // --fgPrimaryColor: #F1F2F3;
    // --fgSecondaryColor: #656C70;
    // --backdropColor: #242526;

    // --accentColor: #5A7AFF;
    // --backgroundShadow: 0px 2px 63px -49px  #FFFFFF;

}

html, body { height: 100%; background: var(--backgroundColor) !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom Scrollbar 

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
